<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604401469779-glggk3i8150gab6d1bhr9b6pp3ebnn0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604401469779-glggk3i8150gab6d1bhr9b6pp3ebnn0i</string>
	<key>API_KEY</key>
	<string>AIzaSyAm9xIEtQJwbOHecZGaEfL72BNiWCIc_lc</string>
	<key>GCM_SENDER_ID</key>
	<string>604401469779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stratpoint.globeonepoc</string>
	<key>PROJECT_ID</key>
	<string>globeone-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>globeone-poc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604401469779:ios:2cf57ab543ee91b0b0f9a6</string>
	<key>DATABASE_URL</key>
	<string>https://globeone-poc.firebaseio.com</string>
</dict>
</plist>