<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070254934331-3s0g2n11798rvu1fn5lundfue3iuf0k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070254934331-3s0g2n11798rvu1fn5lundfue3iuf0k2</string>
	<key>API_KEY</key>
	<string>AIzaSyAlbRsW7csC5e1JqfCObeLbVPdQd8Gvmzo</string>
	<key>GCM_SENDER_ID</key>
	<string>1070254934331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thebrewery.ale-flutter-ddd</string>
	<key>PROJECT_ID</key>
	<string>thebrewery-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>thebrewery-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070254934331:ios:f1f70755102dab84128f1e</string>
	<key>DATABASE_URL</key>
	<string>https://thebrewery-flutter.firebaseio.com</string>
</dict>
</plist>